<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body {
            background: black;
            color: white;
        }

    </style>
</head>
<body>
    <a href="/logout">Sair</a>
    <a href="/agenda/evento/">Adicionar evento</a>
    <h1>AGENDAMENTOS</h1>
    {% for evento in eventos %}
    <h1>{{evento.titulo}}</h1> 
    <h2><a href="evento/?id={{ evento.id }}">Edit</a></h2>
    <h2><a href="evento/delete/{{ evento.id }}">Deletar</a></h2>
    {% endfor %}
</body>
</html>