<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body {
            background: black;
            color: white;
        }

    </style>
</head>
<body>
    <a href="/logout">Sair</a>
    <a href="/agenda/">Agenda</a>
    <h1>adicionar eventos</h1>
    <form action="submit" method="POST">
        {% csrf_token %}
        <input type="number" name="id_evento" value=" {{ evento.id }} " hidden>
        <input type="text" name="titulo" value="{{ evento.titulo }}">
        <br>
        <input type="datetime-local" name="data_evento" value="{{ evento.data_evento }}">
        <br>
        <textarea name="descricao" cols="30" rows="10" >{{ evento.descricao }}</textarea>
        <button type="submit">Salva</button>
        <a href="/agenda/">
            <button type="submit">Cancelar</button>
        </a>
    </form>
</body>
</html>