<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body {
            background: black;
            color: white;
        }

    </style>
</head>
<body>
    <a href="/logout">Sair</a>
    <h1>AGENDAMENTOS</h1>
    {% for evento in eventos %}
    titulo: {{evento.titulo}} 
    <br>
    descrição: {{evento.descricao}}
    <br>
    data do evento: {{evento.data_evento}}
    <br>
    data da criação: {{evento.data_criacao}}
    <br>
    criador do evento: {{evento.usuario}}
    {% endfor %}
</body>
</html>